@import '../../shared/styles/_vars.scss';
:host {
    @include nav-context();
    bottom: 0;
    left: 0;
}

nav {
    @include nav-layout('space-around');
}

button {
    @include custom-button();
}

.btn{
    &--in-basket{
        @include imaginate-background('cart-icon-50px.png');
    }
    &--all{
        @include imaginate-background('list-icon-inactive.png');
    }
    
}

.active {
    background-color: #e6e7e8;
}

@include md() {
   :host {
    @include height($sm-size);
  }
  button {
    @include height($sm-size);
    @include width($sm-size);
  }
  .btn {
    &--in-basket {
      @include bg-size($sm-size);
    }
    &--all {
      @include bg-size($sm-size);
    }
  }
}
