@import '../../shared/styles/_vars.scss';
:host {
    flex: 0 0 #{$nav-height};
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.icon {
    flex: 0 0 #{$nav-height};
    position: relative;
    @include custom-button();
    &--basket {
        @include imaginate-background('cart-icon-50px.png');
    }
    &--home {
        @include imaginate-background('home-icon-46px.png');
    }
}

h2 {
    flex: 0 0 calc(100% - #{$nav-height});
    position: relative;
}