// LAYOUT
$lg-size: 100px;
$sm-size: 50px;

@mixin md(){
    @media (max-width: 640px){
        @content;
    }
}
@mixin bg-size($size) {
    background-size: #{$size/2};
}

@mixin width($size) {
    min-width: $size;
}

@mixin height($size) {
    height: $size;
}

@mixin imaginate-background($image-name) {
    background-image: url('../../../assets/images/#{$image-name}'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: #{$lg-size/2};
    mix-blend-mode: multiply;
}

@mixin custom-button() {
    width: $lg-size;
    height: $lg-size;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

@mixin nav-bg() {
    background-image: linear-gradient(to left, #f8f8f8 0%, #f9f9f9 51%, #f8f8f8 100%);
}

@mixin nav-layout($justify-content) {
    max-width: 620px;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: #{$justify-content};
    align-items: center;
    align-content: center;
}

@mixin nav-context() {
    position: fixed;
    width: 96%;
    height: $lg-size;
    padding: 0 2%;
    @include nav-bg();
    z-index: 10;
}

@mixin list-layout() {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-content: stretch;
}