@import '../../shared/styles/_vars.scss';
:host {
    @include nav-context();
    top: 0;
    left: 0;

}

nav {
    @include nav-layout('space-between');
}

.hidden {
    display: none;
}

button {
    @include custom-button();
}

.btn--edit{
    @include imaginate-background('edit-icon-active.png');
}