@import '../../shared/styles/_vars.scss';
:host {
    @include nav-context();
    top: 0;
    left: 0;
}

nav {
    @include nav-layout('space-between');
}

.hidden {
    display: none;
}

button {
    @include custom-button();
}

.btn--edit {
    @include imaginate-background('edit-icon-active.png');
}
.btn--settings {
    @include imaginate-background('settings-icon.png');
}

@include md() {
   :host {
    @include height($sm-size);
  }
  button {
    @include height($sm-size);
    @include width($sm-size);
  }
  .btn--edit,
  .btn--settings
   {
    @include bg-size($sm-size);
  }
}


