
  
  <span 
    *ngIf="headerType == HEADER_TYPES.PRODUCTS"
    (click)='console.log("btn--add-new")'>setting </span>
  <span 
    *ngIf="headerType == HEADER_TYPES.EDIT_PRODUCTS"
    (click)='console.log("btn--add-new")'>new </span>



<div class="title" >Groceries</div>

  <a 
    *ngIf="headerType == HEADER_TYPES.PRODUCTS"
    routerLink="/products/edit" routerLinkActive="active"
    >Edit</a>
  <span 
    *ngIf="headerType == HEADER_TYPES.EDIT_PRODUCTS"
    (click)='console.log("btn--add-done")'>Done </span>