<!-- LEFT  -->
<section>
  <span 
    *ngIf="headerData?.buttons.indexOf(HEADER_BUTTON_TYPES.ADD_ONE) > -1"
    routerLink='/products/add'>New</span>
  <span 
    *ngIf="headerData?.buttons.indexOf(HEADER_BUTTON_TYPES.CANCEL_ONE) > -1"
    routerLink='/products'>Cancel</span>
</section>

<!-- CENTER  -->
<section>
  <h1 class="title">{{ headerData?.title }}</h1>
</section>

<!-- RIGHT  -->
<section>
  <span 
    *ngIf="headerData?.buttons.indexOf(HEADER_BUTTON_TYPES.EDIT) > -1"
    [routerLink]="['products/new']">Edit</span>
  <span 
    *ngIf="headerData?.buttons.indexOf(HEADER_BUTTON_TYPES.SAVE_ONE) > -1"
    (click)='saveProductsFromBuffer()'>Done</span>
  <span 
    *ngIf="headerData?.buttons.indexOf(HEADER_BUTTON_TYPES.SAVE_ALL) > -1"
    (click)='saveNewProductToBuffer()'>Done</span>
</section>
