@import '../../shared/styles/_vars.scss';
:host {
    padding-top: $lg-size;
    @include list-layout();
}

h2 {
    text-align: center;
}

h3 {
    text-align: right;
}

input {
    padding: 10px;
    margin: 40px 0 10px;
    font-size: 26px;
    border: 1px solid #d5d6d6;
}